<!-- navbar.component.html -->
<header>
  <a href="" class="logo">
    <span>Dilvant</span>
  </a>

  <ul class="navbar" [class.open]="isOpen">
    <li><a href="" class="active">Inicio</a></li>
    <li><a href="">Menú</a></li>
    <li><a href="">Nosotros</a></li>
    <li><a href="">Reservas</a></li>
  </ul>

  <div class="main">
    <button type="button" class="btn btn-warning">Contacto</button>
    <div>
      <i id="menu-icon" [ngClass]="isOpen ? 'fa-solid fa-x' : 'fa-solid fa-bars'" (click)="toggleMenu()"></i>
    </div>
  </div>
</header>
