<app-navbar></app-navbar>
<!-- Fondo cuadrado -->
<div class="background-square">
  <!-- Contenido encima del fondo -->
  <div class="content-overlay">
    <h1 class="main-title">Haz crecer tu amor por la comida peruana.</h1>
    <h2 class="main-subtitle">Sumérgete en la cultura peruana a través de nuestra deliciosa comida.</h2>
    <button type="button" class="btn btn-outline-warning">Nuestra nueva carta.</button>
  </div>
</div>

<div class="image-overlay">
  <img src="assets/img/lomo_saltado.png" alt="Imagen de fondo" class="background-image">
</div>

<!-- Nueva Sección debajo del fondo cuadrado -->
<section class="image-section">
  <div class="section-header">
    <h2 class="section-title">Recetas Peruanas Populares</h2>
    <a href="" class="section-subtitle">Explora Todos los Platos   <i class="fa-solid fa-arrow-right"></i></a>
  </div>

  <div class="image-row">
    <div class="image-item">
      <img src="/assets/img/postre.png" alt="Plato 1" class="image">
      <div class="image-name">Postres Peruanos</div>
    </div>
    <div class="image-item">
      <img src="/assets/img/causa.png" alt="Plato 2" class="image">
      <div class="image-name">Causa Rellena</div>
    </div>
    <div class="image-item">
      <img src="./assets/img/lomito.png" alt="Plato 3" class="image">
      <div class="image-name">Aji de Gallina</div>
    </div>
    <div class="image-item">
      <img src="/assets/img/coptel.png" alt="Plato 4" class="image">
      <div class="image-name">Pisco Sour</div>
    </div>
    <div class="image-item">
      <img src="/assets/img/ceviche.png" alt="Plato 5" class="image">
      <div class="image-name">Ceviche</div>
    </div>
  </div>
</section>

<!-- Nueva sección con fondo negro -->
<section class="black-background-section">
    <div class="content-left">
      <h2 class="section-title-tem">Plato de la temporada</h2>
      <p class="section-description">
        Descubre el sabor auténtico de
        Perú con nuestro anticucho de
        temporada. Este plato, lleno de tradición,
        combina tiernos trozos de corazón de res
        marinados en especias, servidos con una salsa
        de ají y acompañados de papas doradas. Una
        experiencia culinaria que te transportará a las
        calles de Lima.</p>
    </div>
    <div class="content-right">
      <img src="../../assets/img/chicharon.png" alt="Comida peruana" class="section-image">
    </div>
</section>

<section class="white-background-section">
  <h2 class="custom-title">¿Cómo funciona? Elige tu plato favorito.</h2>
  <div class="boxes-container">
    <div class="box">
      <img src="assets/img/platillos.png" alt="Imagen 1" class="circle-image">
      <p class="box-text">
        Ofrecemos platos que combinan
        tradición y modernidad, diseñados
        para deleitar tu paladar.</p>
    </div>
    <div class="box">
      <img src="assets/img/mesa.png" alt="Imagen 2" class="circle-image">
      <p class="box-text">
        Disfruta de un ambiente acogedor
        mientras degustas nuestros sabrosos platos.</p>
    </div>
    <div class="box">
      <img src="assets/img/chef.png" alt="Imagen 3" class="circle-image">
      <p class="box-text">
        La excelencia de la cocina
        peruana se refleja en nuestros
        platos.
      </p>
    </div>
  </div>
</section>

<!-- Nueva Sección -->
<div class="red-background-section">
  <div class="text-content">
    <h2 class="title-red">Tu título aquí</h2>
    <p class="custom-paragraph">
      En nuestro restaurante, ofrecemos una experiencia
      culinaria única con los mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un ambiente acogedor mientras saboreas nuestras especialidades.</p>
  </div>
  <div class="image-container">
    <img src="assets/img/chef_plato.png" alt="Imagen descriptiva" class="custom-image">
  </div>
</div>

<!-- Contenedor único que contiene tanto la imagen como el fondo -->
<div class="background-square-container">
  <img src="assets/img/platos.png" alt="Imagen encima" class="overlay-image">
  <div class="background-squaretwo">
    <div class="content-overlaytwo">
      <h1 class="main-titletwo">Reserva hoy mismo.</h1>
      <h2 class="main-subtitletwo">Disfruta de una mezcla de sabores peruanos en cada bocado.</h2>
      <button type="button" class="btn btn-outline-warning">Reservar</button>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <h4>Dilvant</h4>
    </div>
    <div class="footer-column">
      <h3>Platos Estrella</h3>
      <ul>
        <li><a href="">Ceviche</a></li>
        <li><a href="">Lomo Saltado</a></li>
        <li><a href="">Causa Rellena</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contacto</h3>
      <ul>
        <li><a href="tel:+51999999999">+51 999 999 999</a></li>
        <li><a href="mailto:dilvant.restaurante@gmail.com">dilvant.restaurante&#64;gmail.com</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Encuéntranos</h3>
      <ul>
        <li><a href="https://www.google.com/maps/search/play+tours/@-9.9289722,-76.2411838,17.89z?entry=ttu" target="_blank">Av. Dirección 1</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-line"></div>

  <div class="footer-bottom">
    <p>Plantilla hecha por Dilvant - 2024</p>
  </div>
</footer>
